:root {
  --primary: #06bbcc;
  --light: #f0fbfc;
  --dark: #181d38;
}

.home {
  background: linear-gradient(rgba(24, 29, 56, 0.7), rgba(24, 29, 56, 0.7)),
    url("./carousel-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 1px;
}
.home p {
  width: 50%;
  font-size: 0.9rem;
  color: #fff;
}
.home .home-btn {
  margin-top: 30px;
}
.home a {
  font-weight: 600;
  font-size: 0.9rem;
  margin: 10px;
  text-decoration: none;
  padding: 13px 35px;
  background-color: #fff;
  border-radius: 5px;
}
.home a.blue {
  color: #fff;
  background-color: rgb(21, 21, 100);
  transition: 0.3s ease;
}
.home a.blue:hover {
  background-color: #fff;
  color: rgb(21, 21, 100);
}
.home a.yellow {
  color: #fff;
  background-color: #fdc938;
  transition: 0.3s ease;
}
.home a.yellow:hover {
  color: #fdc938;
  background-color: #fff;
}
/* service section */

.service {
  margin-top: 40px;
}
.service-icon {
  margin-bottom: 55px;
}
.service-icon i {
  color: #2593d0;
  font-size: 38px;
}
.skill-card {
  margin: 31px 6px;
  padding: 16px;
  text-align: center;
  background: var(--light);
  transition: 0.5s;
  height: 325px;
}
.card:hover {
  background: var(--primary);
  margin-top: -10px;
  color: #fff;
}

/* Course section */
.t-b-m {
  margin-top: 10px;
  margin-bottom: 55px;
}
.course-img {
  width: 100%;
}
.course-card {
  margin: 31px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses {
  margin-bottom: 55px;
}

/* About section */
.about {
  margin-top: 77px;
}
.about-img {
  width: 27vw;
}
