.work-container {
  background: linear-gradient(rgba(41, 64, 194, 0.7), rgba(209, 221, 33, 0.7));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 109px;
}
.work h1 {
  padding-top: 58px;
}

.how-to-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
.step {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
  width: 100%;
}
.step-number {
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.step-content {
  flex-grow: 1;
}
.step-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 5px;
  color: #000;
}
.step-description {
  margin: 0;
  color: #555555;
}
/* why choose section */
.choose {
  margin-top: 90px;
  display: flex;
  align-items: center;
}
.choose-left {
  background-image: linear-gradient(40deg, black, transparent);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 68vh;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.choose-right {
  background-image: linear-gradient(40deg, #2593d0, black);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  height: 68vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.choose-right li {
  list-style: none;
}
